/*Color palette*/
$color-1: #05386b;
$color-2: #379683;
$color-3: #5cdb95;
$color-4: #bee4af;
$color-5: #edf5e1;

/*fonts*/
$primary-font: 'Barrio';
$secondary-font: 'Baloo';
$tertiary-font: 'Raleway';

/*Breakpoints*/

$tablet-min: 768px;
$desktop-min: 1024px;

.App {

  display: flex;
  flex-direction: column;
  height: 100%;

  .introduction {
    height: 33.3%;
    padding: 1rem;

    background-color: $color-2;

    @media only screen and (min-width: $tablet-min) {
      padding: 2.5rem;
      text-align: center;
    }

    @media only screen and (min-width: $desktop-min) {
      padding: 5rem 10rem;
      text-align: center;
    }
      
      h1 {
        padding: 2.2rem 0.1rem;
        margin: 0rem;

        font-family: $primary-font;
        font-size: 6rem;  
        color:$color-5;

        @media only screen and (min-width: $tablet-min) {
          font-size: 7rem;
        }

        @media only screen and (min-width: $desktop-min) {
          font-size: 10rem;
        }
      }
      /*put a d3 animation of a driving car*/
  }  


 main {

  @media only screen and (min-width: $desktop-min) {
    display: flex;
    flex-direction: row;
  }

  .workflow {
    height: 33.3%;
    padding: 1rem;

    background-color: $color-4;

    @media only screen and (min-width: $tablet-min) {
     padding: 3rem 5rem;
    }

    @media only screen and (min-width: $desktop-min) {
      width: 50%;
      padding: 2rem;
    }

    h3 {
      padding: 0px;
      margin: 0px;

      font-family: $secondary-font;
      font-size: 2.5rem;
      color:$color-1;
      text-transform: uppercase;

      @media only screen and (min-width: $tablet-min) {
        text-align: center;
        font-size: 4rem;
      }

      @media only screen and (min-width: $desktop-min) {
        font-size: 3.5rem;
      }
    }

    ul{
      padding: 0 1.6rem;
      font-size: 1.1rem;

      @media only screen and (min-width: $tablet-min) {
        font-size: 2rem;
      }

      @media only screen and (min-width: $desktop-min) {
        font-size: 2rem;
      }

      li {
        padding-bottom: 1rem;

        color:$color-2;
        font-family: $tertiary-font;
        font-weight: bold;
        line-height: 1.2;

        @media only screen and (min-width: $desktop-min) {
        line-height: 1.65;
      }
      }
    }

  }

  .contactUs {
    height: 33.3%;
    padding: 1rem 2rem 2.5rem;

    background-color: $color-5;

    @media only screen and (min-width: $tablet-min) {
     padding: 3rem 5rem;
    }

    @media only screen and (min-width: $desktop-min) {
      width: 50%;
      padding: 2rem;
    }

    h3 {
      padding: 0px;
      margin: 0px;

      font-family: $secondary-font;
      font-size: 2rem;
      color:$color-1;
      text-transform: uppercase;

      @media only screen and (min-width: $tablet-min) {
        text-align: center;
        font-size: 4rem;
      }

      @media only screen and (min-width: $desktop-min) {
        font-size: 3.5rem;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.2rem;
        font-family: $secondary-font;
        color:$color-2;

        @media only screen and (min-width: $tablet-min) {
          font-size: 2rem;
        }

        @media only screen and (min-width: $desktop-min) {
          font-size: 1.5rem;
        }
      }

      input {
        width: 100%;

        @media only screen and (min-width: $tablet-min) {
          width: 94%;
          padding: 1rem;
        }
      }

      textarea {
        width: 100%;
        padding: 0 0 2rem;
        resize: none;

        @media only screen and (min-width: $tablet-min) {
          width: 100%;
          padding: 0 0 4rem;
        }
      }

      #formSection {
        margin-bottom: 1rem;
      }

      button {
        width: 100%;
        border-radius: 0.2rem;
        margin-top: 0.5rem;
        padding: 0.1rem;

        background-color: $color-3;
        cursor: pointer;

        font-family: $secondary-font;
        font-size: 1rem;

        @media only screen and (min-width: $tablet-min) {
          margin-top: 1rem;
          padding: 0.5rem;
          
          font-size: 2rem;
        }
      }
    }
  }
 }
}



